  html{
    height: 100%;
  }
  
  
  body{
    line-height: 1.5em;
    
    

  }
  .navbar-brand {
    
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background:  #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:bolder;
    padding-top: 11px;
    font-family: 'Georgia', Times, 'Times New Roman', 'serif';
    width: auto;
    
    
   
    
  } 
  .navbar {
    line-height: 3em;
    padding: 0;
    border-bottom: solid #dddddd;
    border-width: 2px;
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', 'serif';
  
  }
.nav-link{
  color: rgb(135, 135, 135);
}
.line-break{
    padding: 8px;
    color: rgb(235, 235, 235)
  }




.mb-3{
  border: 1px solid #dddddd;
  width: 960px;
  margin: 30px 0px 200px 41px ;
  padding: 15px ;
  background-color: #ffffff;
  min-height: calc(60vh - -30px);
  


}

.header-contact{
  color: #4aaaa5;
  background-color: #ffffff;

}

 

#exampleFormControlTextarea1{

  height: 200px;
}



#button-contact{
background-color: #4aaaa5; 
color: white;
border: 1px solid #cccccc;
margin-top: 15px; 
height: 35px;
width: 100px;
line-height: 0px;

} 


hr {
  width: 910px;
  color: #dddddd;
  border-bottom: 3px solid #dddddd;
  
}



.form-control{

  width: 910px;
}


.form-label {
  margin: 10px 0px 0px 0px;
  height: 30px;
}



.footer {
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  /* width: 100%; */
  background-color: red;
  color: white;
  text-align: center;
  height: 80px;
  margin-top: 200px;
}



.container1 {

    background-repeat: round;
    margin: -5px;
    border: 1px solid  #dddddd;
    margin-top: 50px;
    margin-left: 17%;
    margin-right: 17%;
    height: 500px;
  }
.cr {
  background-color: #666666;
  margin-left: 45%;
  color: white;
}
.container2 {
  background: #666666;
  margin-top: 50%;
  border-top: solid  #4aaaa5; 
  border-top-width: 10px; 
 } 
.one {
  margin-top: 7px;
}
.two {
  margin-top: 7px;
}
.ul {
  margin-right: none;
} 
.profile {
  width: 100px;
  height: 80px;
}
h2 {
  color: #ffffff;
  background-color: #4aaaa5;
  border-color: #cccccc;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  width: 140px;
  height: 35px;
}

#bodyCard {
  padding-right: 50px;
  width: 50%;
  margin-left: 325px;
  
}
#box {
  height: 750px; 
  width: 960px;
  margin-top: 50px;
  border: solid #cccccc;
  margin-left: 285px;
 }
.card {
width: 200;
}
#button {
background-color: #4aaaa5; 
        color: white;
        border: #cccccc;
        border-style: solid;
        border-width: 1px;
        height: 30px;
        width: 80px;
      }
.biltmore {

  height: 100px;
  width: 100px;
  float: left;
  
}

.pc {
  height: 100px;
  width: 100px;
  float: bottom;
  

}
.hh {
  height: 100px;
  width: 100px;
}

.lv {
  height: 100px;
  width: 100px;
  }

.mb {
  height: 100px;
  width: 100px;
}
.pc {
  padding: 5px;
  margin-top: -5px;
}
.banner {
  position:relative;
  width: 90%;
}



@media (max-width: 980px) {

 
.navbar-nav {
  display: flex;
flex-direction: row; 
margin-right: 15px;

}
.mb-3 {

  max-width: 600px;
}

h3 {

  margin-top: 15px;
}
.form-label{
  margin: 5px 0px 0px 0px;
  

}
.form-control {

  max-width: 550px;
}

hr {
  max-width: 550px;
  margin-top: 30px;
}

}


@media (max-width: 768px) {
  
 
 .navbar-brand{
margin-left: 33px;
 }

 .mb-3{
   max-width: 680px;
   margin: 35px 30px 0px 45px;
 }

 hr{
   margin: 20px 0px 0px 0px;
 }

 .nav-link-container{
   margin-left: 200px;
 }

 
  .form-label{
    margin: 20px 0px 0px 0px;
    
   
 }
}

@media (max-width: 640px) {
  .container-fluid{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
    height: 75px;
    padding: 12px 20px 5px 20px;
    margin-left: 0px;
  }
.navbar-nav{
  height: 45px;
  
}

.nav-link-container{
  margin-left: 0px;
}

.nav-link{
  padding: 0px;

}

.line-break{
  padding: 0px 8px 0px 8px;
}

.mb-3{
  max-width: 570px;
  margin: 35px 30px 0px 45px;
}

hr{
  max-width: 538px;
  margin: 20px 0px 0px 0px;
}
.form-control {

  max-width: 538px;
}
.form-label{
  margin: 5px 0px 0px 0px;
  

}
}




  










  
  
  
 
    

  
    


  


   

  



  